<div class="container mt-3">
    <div class="jumbotron">
        <h1 class="display-4">Bem-vindo ao internet banking</h1>
        <p class="lead">Realize transações seguras por meio de nossa plataforma online.
        </p>
        <hr class="my-4">
        <p>Ainda não conhece o Banco Horizon? Cadastre-se agora e desfrute dos benefícios de ser nosso cliente. Somos um dos bancos mais inovadores do país.</p>
        <a class="btn btn-primary btn-lg" routerLink="contact" role="button" >Saiba mais</a>
        
    </div>
</div>